@charset "UTF-8";

header, header > nav {
    flex-flow: column nowrap;
}

header > h1 {
    flex-basis: 50px;
}

header > span.material-symbols-outlined {
    display: flex;
    cursor: pointer;
}

header > nav {
    display: none;
}

header > nav > a {
    width: 90vw;
}
