@charset "UTF-8";

body {
    background-color: rgb(198, 253, 191);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #1E5A29;
}

h1#principal {
    text-align: center;
    /*background-color: #297C38;*/
    color: white;
}

h2 {
    color: rgb(35, 91, 31);
}

.basico {
    color: rgb(53, 137, 47);
}

.intermediario {
    color: rgb(143, 138, 50);
}

.avancado {
    color: rgb(159, 54, 54);
}

.destaque {
    background-color: rgba(188, 188, 103, 0.502);
}

